/* global */

*{
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  list-style: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.divider{
  border-bottom: 1px solid #F3D1BF;
}

/* nav */

/* adicionar hover para nav buttons */

.navigation-top{
  background-color: #28293E;
  display: flex;
  justify-content: space-between;
  padding: 16px 135px;
  max-width: 100%;
  overflow-x: hidden;
}

.navigation{
  display: flex;
  max-width: 100%;
  font-size: 14px;
  font-weight: 300;
}

.nav-button{
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.29);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: transparent;
}

.nav-button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
  transition: .2s;
}

.logo{
  width: 152px;
  height: 48px;
} 

.menu{
  display: flex;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.lista{
  padding: 8px 0;
  color: white;
}

.lista:hover{
  color: #f34b31;
  cursor: pointer;
  transition: .2s;
}

section, header, footer {
  max-width: 100%;
  
}


/* Hero -> index e sobreAgency */
/* Adicionar hover para primary e secondary button  */

.hero0{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background-color: #28293E;
  color: white;
  padding: 70px 135px;
  max-width: 100%;
  
}

@media (max-width: 768px) {
  .hero0 {
    display: flex;
    flex-direction: column;
  }
}


.content-group{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.info-group{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 24px;
}

.subtitle-hero{
  color: #EF6D58;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.div-description{
    width: 470px;
}

.title-hero{
  font-size: 72px;
  width: 800px;
}

.description-hero{
  color: rgba(255, 255, 255, 0.64);
  font-weight: 300;
  line-height: 32px;
}

.button-group{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.primary-button{  /*button-form, */
  height: 30px;
  padding: 8px 20px;
  background-color: #f34b31;
  border-radius: 6px; 
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.primary-button:hover{
    background-color: #e53b21;
    cursor: pointer;
    transition: .2s;
}

.secundary-button{
  height: 30px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px; 
  padding: 8px 20px;
  
}

.secundary-button:hover{
  background-color: #0000003b;
  cursor: pointer;
  transition: .2s;
}


.image-group{
  width: 570px;
  height: 602px;
}

/* Contato e serviços */

.hero{
  display: flex;
  height: 400px;
  background-color: #28293E;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: center;
  gap: 30px;
}

.title{
  color: white;
  letter-spacing: -2px; /* Espaçamento entre letras*/
  line-height: 80px; /* Espaçamento entre linhas*/
  font-size: 72px;
  font-weight: 800;
}

.description{
  color: white;
  font-size: 16px;
  width: 570px; /* largura da tag p*/
  line-height: 32px; /* Espaçamento entre linhas*/
}

/* Footer */

.footer{
  display: flex;
  flex-direction: column;
  background-color: #FDF0E9;
  padding: 70px 135px;
  gap: 64px;
}

.footer-top{
  display: flex;
  width: 100%;
  gap: 248px;
}

.menu-footer{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu-menu{
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #EF6D58;
}

.Agency-footer{
  font-weight: bold;
  font-size: 22px;
}

.img-footer{
  display: flex;
  gap: 8px;
}

.bg-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #EF6D58;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
}

.copy{
  display: flex;
  gap: 64px;
  margin-bottom: 60px;
}

.list-footer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.lista-footer{
  color: #391400;
}


/*  */

