.footer{
  display: flex;
  flex-direction: column;
  background-color: #FDF0E9;
  padding: 70px 135px;
  gap: 64px;
}

.footer-top{
  display: flex;
  width: 100%;
}

.menu-footer{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.menu-menu{
  color: #EF6D58;
}

.img-footer{
  display: flex;
  gap: 8px;
}

.bg-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #EF6D58;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
}

.copy{
  display: flex;
  gap: 64px;
}

.list-footer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.lista-footer{
  color: #391400;
}

@media (max-width: 400px) {
  .footer{
    padding: 40px 20px;
  }
  .footer-top {
    flex-direction: column;
    gap: 32px;
  }

  .menu-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  
  .img-footer {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding: 30px;
  }

  .lista-footer{
    display: flex;
    justify-content: center;
  }

  .divider{
    justify-content: center;
  }

  .footer-bottom .copy:last-child {
    display: flex;
    justify-content: center;
  }

  .copy {
    display: flex;
    justify-content: center;
  }
  .copy p {
    width: 200px;
  }

}