.hero-index{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28293E;
  color: white;
  padding: 70px 135px;
  max-width: 100%;
  
}

.container-index{
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.info-index{
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 24px;
}

.info-index h5{
  color: #EF6D58;
}

.info-index p{
  color: rgba(255, 255, 255, 0.64);
}

.image-group{
  width: 570px;
  height: 602px;
}

/*  */

.hero{
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #28293E;
}

.container{
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: white;
}

.containe p{
  color: white;
}

@media (max-width: 400px){

  .hero{
    padding: 20px;
    height: 320px;
  }

  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  .container h1{
    font-size: 48px;
  }

  .section-serv-about{
    padding: 50px 20px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero01-about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero02-about h3{
    font-size: 40px;
  }

  .section-box{
    display: flex;
    flex-direction: column;
  }

  /* hero index */
  .hero-index{
    max-width: 360px;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
  }

  .image-group{
    width: 100%;
    height: 320px;
    
  }

  .container-index h1{
    font-size: 32px;
    line-height: 40px;
  }

  .info-index{
    width: 100%;
  }

  
}