body{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center top;
}

/**/
.section-serv-about{
  background-color: #FDF0E9;
  padding: 76px 135px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero01-about{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 180px;
}

.hero02-about{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description01-about{
  display: flex;
  justify-content: center;
  max-width: 570px;
 
}
/**/

.section-box-video{
  display: flex;
  background-color: #FDF0E9;
  gap: 30px;
  justify-content: center;
  
}

#video-box{
  border-radius: 8px;
}

.div-video{
  position: relative;
  width: 560px;
  overflow: hidden;
  border-radius: 8px;
  flex: 1;
}

video{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 148px;
  height: 148px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

.play-btn::before{
  content: "";
  position: absolute;
  left: 64px;  /* centraliza o triângulo dentro do círculo */
  top: 50px;
  width: 0;
  height: 0;
  border-left: 32px solid white;      /* largura do triângulo */
  border-top: 22px solid transparent; /* altura do triângulo */
  border-bottom: 22px solid transparent;
}

.box-bitmap{
  display: flex;
  flex-wrap: wrap; /* Os itens que não cabem mais na linha são quebrados e colocados em uma nova linha, garantindo um layout multilinha.  */
  gap: 30px;
  width: 570px;
}

.img-bitmap{
  height: 208px;
  width: 270px;
}

/*  */

.features{
  display: flex;
  justify-content: space-between;
  background-color: #FDF0E9;
}

.features-group{
  display: flex;
  justify-content: space-between;
}

.features-card{
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-feat{
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 32px;
  color: #EF6D58;
}

.discription-feat01{
  font-size: 32px;
  line-height: 32px;
  color: #391400;
}

/*  */

.container-destaque{
  display: flex;
  gap: 1rem;
  line-height: 32px;
  font-size: 16px;
}

.cardAbout{
  width: 270px;
  border: 1px solid #F3D1BF;
  background-color: #FDF0E9;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  padding: 48px;
}

.bg-icon-destaque{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #EF6D58;
}

.img-destaque{
  width: 32px;
  height: 32px;
}

.title-destaque{
  color: #391400;
}

/*  */

.about-sec{
  display: flex;
  justify-content: center;
  padding: 76px 135px;
  background-color: #FDF0E9;
  color: #391400;

}

.about-metrics{
  display: flex;
  justify-content: center;
  border: 1px solid #F3D1BF;
  border-radius: 8px;
  overflow: hidden;
}

.card-metrics{
  display: flex;
  width: 391px;
  height: 176px;
  flex-direction: column;
  justify-content: center;
  padding: 30px 48px;
  gap: 14px;
  border-left: 1px solid #f1dcd1;
}

.card-metrics:first-child{
  border-left: none; /* remove a borda do primeiro */
}

.porcent {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
}

.description-metrics{
  font-weight: 400;
  font-size: 20px;

}

/*  */

.team-section {
  padding: 80px 135px;
  max-width: 100%;
  background-color: #28293E;
}

.container-team {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  text-align: center;
}

.div-team{
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  text-align: left;
}

.title-team{
  padding-bottom: 4rem; /*64px*/
  color: white;
}


.slides{
  width: 100%;
  display: flex;
  gap: 30px;
}

.card-grid{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.team-card {
  height: 272px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  padding: 24px 37px;
  padding-bottom: 1px;
  transition: all 0.3s ease;
  flex: 1;
}



.team-card:hover {
  border-color: #EF6D58;
  transform: translateY(-5px);
}

.name-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-div h4{
  color: white;
}

.name-div p {
  color: rgba(255,255,255,0.7);
}

.controls {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  background: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.controls button:hover {
  background: #EF6D58;
  border-color: #EF6D58;
}

@media (max-width: 400px){
  .section-box-video{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .div-video{
    max-width: 360px;
  }

  .box-bitmap{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Os itens que não cabem mais na linha são quebrados e colocados em uma nova linha, garantindo um layout multilinha.  */
    gap: 20px;
  }
  
  .img-bitmap{
    height: 120px;
    width: 156px;
  }

  /* features */

  .features{
    width: 360px;
    display: flex;
    flex-direction: column;
  }

  .features-card{
    width: 320px;
    padding-bottom: 20px;
  }

  .container-destaque{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardAbout{
    width: 300px;
    height: 300;
    padding: 20px;
  }

  /* card */

  .about-sec{
    padding: 40px 20px;
  }

  .about-metrics{
    width: 100%;
  }

  /* time */

  .team-section{
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
  }

  .container-team{
    width: 100%;
    height: auto;
  }

  .div-team{
    text-align: center;
    padding: 40px 20px 0 20px;
  }

  .title-team{
    font-size: 36px;
    text-align: left;
    padding-bottom: 20px;
  }

  /* ======= ÁREA DOS SLIDES ======= */
  .slides {
    width: 100%;
   overflow: hidden;
    display: flex;
    gap: 20px;
    padding: 10px 0px 0px 20px;
  }


  .slider{
    width: 100%;
    max-width: 360px;
  }

  /* ======= CARD INDIVIDUAL ======= */
  .card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .team-card img {
    width: 196px;
    height: 230px;
  }

  .name-div h4 {
    margin: 0;
    font-size: 20px;
  }


}